body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.quiz {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

h3 {
  color: #002b58;
}

p {
  color: #555;
}

button {
  background-color: #c3dffd;
  color: #000;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #91c6ff;
}

.selected {
  background-color: #69c3ff;
  color: #000;
}

.error {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.submit {
  background-color: #f8f8f8;
  border: 1px solid rgb(71, 71, 71);
  color: black;
  text-align: center;
}

.submit:hover {
  background-color: #f8f8f8;
}